[2014-09-07 17:45] decarlof opened #5 "MIssing documentation on the XML/HDF5 file format?"
I am handling large tomographic data and I want to test your plug in for visualization. My data are stack of images in HDF5. Where can I find instruction of how to create an XML to make my files readable by your plugin?

[2015-01-03 02:02] axtimwalde opened #6 "range overflow in trilinear interpolator"
I just noticed that both CATMAID and Openconnectome backends show value range overflow artifacts
when trilinear interpolation is switched on.  Reason is probably that UnsignedByteType or ARGBType are
directly used by NLinearInterpolator.  I remember that we had addressed this at some point using NLinearInterpolatorARGB (which wouldn't solve the UnsignedByteIssue) but cannot remember whether that w

[2015-02-23 17:29] StephanPreibisch opened #7 "Constructor of BigDataViewer is for SpimDataMinimal"
Hi @tpietzsch,

I just realized that the constructor for the BigDataViewer is for SpimDataMinimal and not for AbstractSpimData. Is there a good reason for that? It does prevent to instantiate the BigDataViewer on an already opened AbstractSpimData object, which is for example SpimData or SpimData2 and hence does not extend SpimDataMinimal.

Thanks a lot!!

[2015-02-23 17:31] tpietzsch commented on #7
@StephanPreibisch No reason for that. I'll change it to ```AbstractSpimData< ? >```

[2015-02-23 17:34] StephanPreibisch commented on #7
The other option is something like that maybe:

public class SpimDataWrapper extends SpimDataMinimal
{
	/**
	 * create copy of a {@link SpimDataMinimal} with replaced {@link BasicImgLoader}
	 */
	public SpimDataWrapper( final SpimData2 other )
	{
		super(
				other.getBasePath(),
				new SequenceDescriptionMinimal(
						other.getSequenceDescription().getTimePoints(),
						other.getSequenceDescri

[2015-02-23 17:36] tpietzsch commented on #7
@StephanPreibisch no, no, I like AbstractSpimData better

[2015-02-23 17:37] StephanPreibisch commented on #7
Awesome, thanks so much Tobi! Can you maybe make a new release with that change right away?

[2015-02-23 17:58] tpietzsch commented on #7
Ok. I released bigdataviewer-core 1.0.7
http://maven.imagej.net/index.html#nexus-search;gav~~bigdataviewer-core~1.0.7~~

[2015-02-23 17:58] #7 closed

[2015-02-23 18:03] StephanPreibisch commented on #7
Thanks @tpietzsch!

[2015-04-22 09:48] StephanPreibisch opened #8 "Release the HDF5 merge code?"
Hi @tpietzsch,

can we release the new version that supports HDF5 appending so I can release a new version of SPIM_Registration?

Thanks so much,
Stephan

[2015-04-25 13:13] StephanPreibisch opened #9 "NullPointerException thrown if the first view of first timepoint is missing"
Hi, @tpietzsch,

if the first view of first timepoint is missing, a NPE is thrown. You just need to check in InitializeViewerState if the source interval is null:

final Interval sourceInterval = source.getSpimSource().getSource( timepoint, 0 );

I am not submitting a pull request because I am not sure if you want to look for a view that is present and display that one or simply not do anything. B

[2015-04-27 12:02] tpietzsch commented on #9
Thanks @StephanPreibisch! I fixed it with "do nothing if source is not present".

Note, that InitializeViewerState uses the current source and the current timepoint, so if you want to do something more clever on the SPIM_Registration side, you can set the current source and timepoint to something that exists and then call InitializeViewerState.initTransform() and/or InitializeViewerState.initBrigh

[2015-04-27 12:34] StephanPreibisch commented on #9
Please wait a bit, there is another issue if the HDF5 is appended. BDV does not show the new view right away unless you restart it. But this could be on my side as well ... I am checking this.

[2015-04-27 12:35] StephanPreibisch commented on #9
And thanks @tpietzsch :)

[2015-04-27 13:21] tpietzsch commented on #9
Hmm, it's not on your side. The BDV is not supposed to show the new view. It does not re-scan the SpimData for new setups. And it shouldn't, the original assumption was the SpimData is immutable, we're bending this assumption already. If you want to do that, you would have to manually add the new source.
Or just close and re-open the BDV window....

[2015-04-27 13:26] StephanPreibisch commented on #9
I guess close & open is the way to go for now ...

[2015-05-12 13:54] StephanPreibisch opened #10 "Exception when appending to XML"
Hi @tpietzsch,

I was doing a second appending run (maybe related?) and also having the BDV open at the same time and it crashed with this exception:

Exception in thread "Thread-11" ncsa.hdf.hdf5lib.exceptions.HDF5FileInterfaceException: File accessibilty:Unable to open file ["H5Fint.c line 1026 in H5F_open(): file is already open for read-only"]
	at ch.systemsx.cisd.hdf5.hdf5lib.H5.H5Fopen(Nativ

[2015-05-12 13:55] StephanPreibisch commented on #10
It actually wrote the first two timepoints with no problem and just crashed on the third one while I was not even at the computer ...

[2015-05-12 14:13] tpietzsch commented on #10
@StephanPreibisch No idea what's going on. How many timepoints were you writing. Was the third timepoint the last one? Did this work before or is it reproducible?

[2015-05-12 14:40] StephanPreibisch commented on #10
I was writing 40 timepoints, crashed on 3/40. The first deconvolution run of 40 timepoints went fine. I did not have time to try to reproduce it - I thought maybe it tells you something right away. I will try later!

[2015-05-19 14:28] tpietzsch commented on #8
@StephanPreibisch is this still an open issue? What do you mean by HDF5 appending?

[2015-05-19 15:16] StephanPreibisch commented on #8
That is a little outdated now, this was your new feature of appending HDF5 during fusion :)

[2015-05-19 15:16] #8 closed

[2015-05-19 17:35] tpietzsch commented on #8
ah, ok :)

[2015-05-22 13:05] tpietzsch commented on #6
@axtimwalde The issue should be fixed with commit bd513e5419bd878be54574855e7705fded3b2aff. Can you confirm?

[2015-05-22 13:24] tpietzsch commented on #6
@axtimwalde Argh. That didn't compile. Now? 4c7e2f59a4a14c80521075697924e345b4e234fa

[2015-05-22 13:55] axtimwalde commented on #6
Thanks!  Works beautifully.

[2015-05-22 13:55] #6 closed

[2015-08-11 07:29] schmiedc opened #12 "Feature request: Cancel movie"
Hi Tobias,

it would be good to add a button to "record movie" that allows you to cancel the currently acquired movie. As far as I saw the thread killer option does not really work. One needs to restart Fiji. Or is there another way?

Thank you!

Cheers,
Christopher

[2015-09-06 14:07] schmiedc opened #13 "Bug report: Fiji crashes when resaving to .tiff"
Hi Tobias,

I want to resave an HDF5 dataset into .tiff. But Fiji keeps on crashing after about 16-18 time points. Fiji in this case just closes without error message. When I look into the system monitor the memory runs full during resaving and then Fiji closes.

Possibly a memory leak?

Settings tested for resaving:

I use ArrayImg (faster) as ImgLib2 container. Without lossless compression of th

[2015-09-06 14:11] tpietzsch commented on #13
shouldn't this issue be in SPIMRegistration?

[2015-09-06 14:18] schmiedc commented on #13
Hi Tobias,

Ok, true the resaving is done via the Multiview Reconstruction plugin.
I will transfer it there.

Cheers,
Christopher

[2015-09-06 14:20] #13 closed

[2015-11-04 03:05] axtimwalde opened #14 "mvn package hangs at javadoc plugin"
At current master https://github.com/bigdataviewer/bigdataviewer-core/commit/434dce2fc36d0d97f0d5a33e607d11fce3049f0c

    mvn clean package

never finishes but hangs at

    [...]
    [INFO] Building jar: /home/saalfelds/workspace/big-data-viewer/core/target/bigdataviewer-core-2.0.2-SNAPSHOT-sources.jar
    [INFO]
    [INFO] --- maven-source-plugin:2.3:jar-no-fork (attach-sources) @ bigdataviewer

[2015-11-04 14:30] tpietzsch commented on #14
@axtimwalde I fixed some problems with the merge. It should work now. Can you check?

In the future it would be good if you do this kind of merge via a PR so that I can fix problems before they lead to a non-compiling master.

One question: Your merge introduced this:
https://github.com/bigdataviewer/bigdataviewer-core/blob/master/src/main/java/bdv/spimdata/legacy/XmlIoSpimDataMinimalLegacy.java#L

[2015-11-04 14:50] axtimwalde commented on #14
@tpietzsch You are right abuot the pull request, sorry for the mess, I didn't have enough sleep yesterday.  The recent merges were a total pain in the neck and costed me hours of reading through every single line of code during which I may have missed stuff (rebase involved?) and I git frustrated.  Next time I'll do pull requests.

Yes, this comment is superfluous, I removed it.

Back to the origi

[2015-11-04 15:22] tpietzsch commented on #14
@axtimwalde no, that shouldn't have happened. I never observed the halt myself, but I did only try mvn after I changed a few things. I thought initially that a duplicate class that had moved to spim_data and was reintroduced by the merge (https://github.com/bigdataviewer/bigdataviewer-core/commit/801cec1f43fd4385eb88d262c4f2a1c44f8ed101) might have caused it, but with different package name this c

[2015-11-04 16:26] #14 closed

[2015-11-16 20:15] emmenlau opened #15 "Two-way support for Imaris?"
This might have come up before, please excuse if I'm ignorant of a prior discussion of the topic.
I very much like the open BigDataViewer HDF5 format. However many of our users still often use
commercial software like Imaris. Since the two file formats are relatively similar, I was wondering if
there could be real two-way support?

I know that Imaris can read BDV HDF5, but they will convert the fi

[2016-01-13 14:34] SarenT opened #16 "Printing pixel values as overlay in ViewerPanel"
Hi,

I am trying to add a feature to print pixel intensities as an overlay like it is being done for the coordinates. For this purpose I simply wanted to add the following lines to ViewerPanel drawOverlays method:

final String pixelValues = String.format( "(%6.1f,%6.1f,%6.1f)", gPos.getDoublePosition( 0 ), gPos.getDoublePosition( 1 ), gPos.getDoublePosition( 2 ) );
		viewerTransform.
		g.setFont(

[2016-01-13 17:12] tpietzsch commented on #16
That's not so easy, you'll have to dig quite a bit. Basically:
The pixel values can be obtained from the Sources that are displayed. From within ViewerPanel you can get to the Sources through  state.getSources() which will give you a List< SourceState< ? > >. From each SourceState<T> you can get a Source<T> through getSpimSource(). From the Source<T> you can get the pixel type T by getType() and a

[2016-01-14 15:11] SarenT commented on #16
Thanks for the feedback. I will take a look ASAP, if I can manage that.

[2016-01-15 10:51] tpietzsch commented on #16
@SarenT @kephale
The following self-contained example displays the pixel value under the mouse, for the current source, if that source's pixel type is some kind of RealType (displays -1 otherwise).
[code]

[2016-02-24 11:15] axtimwalde opened #18 "BDV does not work on Ubuntu 15.04 over VNC"
It is may be something simple because I have seen other Swing based applications working (e.g. TrakEM2, File chooser)

[code]

[2016-02-24 11:36] tpietzsch commented on #18
@axtimwalde This is not VNC-related most likely. I think it is related to incorrect rounding in the brightness sliders when the data is float/double. I also ran into it last week. I'll look into it.

[2016-03-06 18:01] tpietzsch commented on #18
@axtimwalde it should be fixed by this 30f2832ef36abd423f9cf4577161b2abe0de388b
Can you verify?

[2016-05-31 12:06] tboo opened #20 "KLB import"
It's currently impossible to open KLB stacks with the current version of bigdataviewer. There was a major KLB update recently. I am not sure if it has something to do with it.

bigdataviewer_fiji-2.0.0.jar
bigdataviewer-core-2.1.0.jar
klb-0.3.4.jar
klb-bdv-0.2.0-SNAPSHOT.jar

[2016-06-01 03:47] bhoeckendorf commented on #20
If this used to work for you and you can in principle read klb files with ImageJ/Fiji, then I suspect your intuition that the latest update must have broken something is correct. Although it is a little bit strange that it fails silently with no error message.

Could I ask you to recreate your bigdataviewer xml with the latest version of the klb support and check whether you can browse your images

[2016-06-01 06:33] tboo commented on #20
I did recreate the XML and the issue remains the same. I get a blank image. The time points are there but the navigation coordinate system also does not appear.
bigdataviewer works just fine with HDF5 data sets.

[2016-06-01 08:44] tpietzsch commented on #20
@tboo can you share a small dataset for testing?

[2016-06-01 08:50] tboo commented on #20
Sure. Here's the [link](https://idisk.mpi-cbg.de/~albrecht/TM000001.zip) to a single time point, 2-channel stack.

Thanks a lot for looking into this.

[2016-06-01 14:09] bhoeckendorf commented on #20
I think we have 2 unrelated issues here.

1.
You can not open your old xmls anymore because of a backwards compatibility issue in the klb backend. We haven't stumpled upon such an issue here, so I'm not entirely sure what is going on. Your test data does not contain a bigdataviewer xml, could I ask you to provide one?

2.
Before the last update, the klb backend would pad your time series with "mis

[2016-06-01 14:52] tpietzsch commented on #20
@bhoeckendorf I would consider this an issue with bdv-core. I'll change it to just use the first timepoint for which there is data.

[2016-06-01 15:22] tboo commented on #20
Here is the BDV XML.

[BDV.xml.zip](https://github.com/bigdataviewer/bigdataviewer-core/files/293732/BDV.xml.zip)

[2016-06-01 18:44] bhoeckendorf commented on #20
@tboo I just noticed the xml you provided is the one that was generated after the update. Do you have an example from before the update?

[2016-06-02 08:06] tboo commented on #20
So I just tested the data set with klb-0.3.1 - which as expected worked. Speaking of I can open the data set in BDV. However, the XML I create with BDV is unusable for some reason as it throws an exception when I try to open the XML with BDV again - but that seems to be a totally different issue.
I attached the xml created with klb-0.3.1 (as a txt) regardless

[BDV_old_KLB.txt](https://github.com/

[2016-06-02 22:48] bhoeckendorf commented on #20
@tboo - The issue is not with klb (basic Java native interface to klb files), but with klb-bdv (the klb-based BigDataViewer backend). To roll back and recreate the situation before the update, you'd have to downgrade them both. Hence the issue you ran into.

I was wondering whether you could post the actual xml that originally caused you to file this bug. If you can read the individual klb files t

[2016-06-02 22:53] bhoeckendorf commented on #20
@tpietzsch - Thanks for looking into the first time point id issue.

[2016-06-05 19:44] bhoeckendorf commented on #20
@tboo - I think I have found and fixed a bug in the KLB backend that you ran into. I've released an update that should solve the problem. Please let me know if not. Thanks for letting me know about this and sorry you couldn't browse your data for a few days. I should mention that I've been pretty sick for most of this week, and hence haven't been particularly efficient at debugging.

[2016-06-05 19:45] bhoeckendorf commented on #20
@tpietzsch - The problem with a non-configured time point id 0 may be nonexistent after all. I remember starting to prepend missing views, if needed, to avoid problems with that, but these problems are definetely gone. Instead, I had since introduced a different bug in the KLB backend.

However, I noticed that if your actual time points are 5-9, BigDataViewer will display them as 0-4. I'm wonderin

[2016-06-06 07:42] tboo commented on #20
@bhoeckendorf - I can confirm that the KLB import in BDV is working nicely again. Thanks a lot for fixing this. And no worries about the 'delay' - It was a pretty fast fix in my mind.

@tpietzsch - I can confirm that BDV always starts at t=0 and shifts the actual imported time points accordingly as @bhoeckendorf observed.

[2016-06-06 10:29] tpietzsch commented on #20
@bhoeckendorf You are right, it wouId be better to display timepoint ids of the XML. I'm not sure though if these are always available. Using BDV programmatically (as a component library to display stuff) one can just display arbitrary `Source`s that most likely don't come from an XML. But sure would be nice to display ids of the XML if they are available. I'll look into it

[2016-06-06 19:00] tpietzsch commented on #20
@bhoeckendorf This is changed now in master. Timepoint ids of the XML are displayed. I'll report here, when a new version has been released...

[2016-06-22 17:21] #16 closed

[2016-10-26 16:36] ctrueden commented on #18
Closing for tidiness. Reopen if not fixed.

[2016-10-26 16:36] #18 closed

[2016-11-07 15:59] igorpisarev opened #23 "Display range is ignored when creating BDV"
Hi,
I have a few channels (converter setups) that I need to be displayed together in the fused mode. For user's convenience, I want to provide initial display range for each of the channels.

In order to do this, I set the display range for each of the setups and then pass them to the BDV constructor. But [this code](https://github.com/bigdataviewer/bigdataviewer-core/blob/master/src/main/java/bdv

[2016-11-07 17:08] igorpisarev opened #24 "Deadlock when rearranging MinMaxGroups"
This is the follow-up on https://github.com/bigdataviewer/bigdataviewer-core/issues/23
I used a hack in order to be able to specify different display ranges for different sources. After constructing the BigDataViewer I rearragned the min-max groups to the desired configuration.

What I found is that every other time it deadlocks within the removeSetupFromGroup() call during repainting the brightne

[2016-11-07 22:34] tpietzsch commented on #24
Thanks for reporting, @igorpisarev.

absolutely correct. I'll fix it.

[2016-11-07 22:42] tpietzsch commented on #23
A quick workaround is to start with a single source or an empty viewer, and then add sources one by one, using `ViewerPanel.addSource()` and `SetupAssignments.addSetup()`. If you do it like this, then each source gets added to a separate group.

I'll also consider adding an option for telling the BDV to put each source into a separate group in the constructor.

[2016-11-07 22:55] tpietzsch commented on #24
@igorpisarev hmm, actually this should already be fixed in the latest release (3.0.0).

https://github.com/bigdataviewer/bigdataviewer-core/blob/master/src/main/java/bdv/tools/brightness/BrightnessDialog.java#L113-L127

Can you try whether the problem persists with 3.0.0 or master.

[2016-11-11 23:43] igorpisarev commented on #24
Thanks @tpietzsch, I somehow didn't notice that it was already fixed.
Tested it with 3.0.0 and it works properly.

[2016-11-11 23:43] #24 closed

[2016-11-12 00:30] igorpisarev opened #25 "Exception in PainterThread when closing BDV"
Occasionally happened to me when I closed the BDV window:
[code]
Was able to reproduce a few more times by scrolling into the volume (forces to fetch and paint the data) and closing the window immediately.
Looks similar to https://github.com/saalfeldlab/bigwarp/issues/25

[2016-11-16 14:01] tpietzsch commented on #25
This should be fixed now.

https://github.com/bigdataviewer/bigdataviewer-core/commit/71704d75f1c51cc492037a8d2e71e72734b2a6e5

[2016-11-16 17:16] igorpisarev commented on #25
Hi @tpietzsch,
I tested it with 3.0.2 and faced another problem: now it deadlocks most of the time when I close the BDV window. Here are two thread dumps of the same run:
http://pastebin.com/uDgHbaMR - right after I tried to close the window
http://pastebin.com/LqXmxKz0 - at some later point in time; the window is still opened and frozen

My guess is that `painterThread.interrupt()` gets called wh

[2016-11-16 23:20] tpietzsch commented on #25
Hi @igorpisarev,
you are right. It shouldn't be a problem unless the interrupted status is cleared during rendering (as I understand if it is set when entering `wait()` an `InterruptedException` is immediately thrown). But of course, unfortunately, it was consumed... I hope it is fixed by this commit: https://github.com/bigdataviewer/bigdataviewer-core/commit/f0115a373c2c8f45ae82d36d6d0c061f329dea

[2016-11-16 23:38] igorpisarev commented on #25
Thanks @tpietzsch, just tried it with 3.0.3 and it's fixed now.

[2016-11-16 23:38] #25 closed

[2016-11-17 08:01] tpietzsch commented on #25
thanks @igorpisarev 👍

[2017-06-19 13:46] tpietzsch opened #28 "Move stuff from the net.imglib2 package to imglib2"

[2017-12-20 03:12] axtimwalde opened #39 "Display range restrictions are arbitrary, remove restrictions"
It is meaningful to display ranges including
* negative values
* values larger than 65535
* values smaller than 1 at double precision

[2017-12-20 03:25] axtimwalde commented on #28
Is this the right time? Now that the primitive `VolatileTypes` are complete, we can move them.  That would also enable us to move `VolatileTypeMatcher` into ImgLib2 which would save me from waiting for a bigdataviewer-core release before I can fix this pull request https://github.com/bigdataviewer/bigdataviewer-vistools/pull/13 which would enable me to slowly get out of my current SNAPSHOT depende

[2017-12-20 13:51] tpietzsch commented on #28
@axtimwalde I would package this with pending changes to the ImgFactory and move of VolatileTyptes to a different package (simplifies some internals) which will be both breaking changes. I'm on vactaion already, it will have to wait until next year

[2017-12-21 02:19] axtimwalde commented on #28
Great! Just wanted to use the moment to bump this :).  Happy holidays!

[2018-01-15 14:12] tpietzsch commented on #28
I'm on this now. As mentioned above, I want to move the volatile types to a different package; Specifically, to the same package as the non-volatile variant. So `VolatileIntType` moves to `net.imglib2.type.numeric`. This allows to get rid of the additional wrapping layer, see this commit https://github.com/bigdataviewer/bigdataviewer-core/commit/d2556705dd7a0ff9fed1190bc7abe38b64ee445d
There will

[2018-01-16 02:42] axtimwalde commented on #28
+1

[2018-01-16 06:38] StephanPreibisch commented on #28
+1

[2018-01-16 21:45] ctrueden commented on #28
:+1:

[2018-02-05 22:57] Xqua opened #41 "XML generation fails on KLB import"
Hello,

When trying to open a KLB file, I am presented with the KLB import window, however, once the KLB file is selected, saving the dataset as a XML file, or Opening it in BDV fails with this error:

[code]

[2018-02-06 04:02] axtimwalde commented on #41
That means that the KLB distribution is not built against the bigdataviewer-core artifact that is used in your distribution. I suggest to file this issue in KLB where this can be fixed easily. I am happy to help with this.

[2018-02-06 11:50] tpietzsch commented on #41
I'm also happy to help. @bhoeckendorf

[2018-02-06 18:38] bhoeckendorf commented on #41
I actually have a fix. The real problem is that I still can't upload things to the Fiji updater. I'll try again. If it does not work, I'll upload the fixed .jar somewhere else.

[2018-02-06 18:39] bhoeckendorf commented on #41
Thanks for offering your help. :)

[2018-02-06 18:44] Xqua commented on #41
Ok, thanks ! I made sure to have the latest updates for all packages, but I guess there might be a glitch in who built when !
@bhoeckendorf do you need anything from me ?

[2018-02-06 18:52] bhoeckendorf commented on #41
Thanks for offering @Xqua. For some time now I've not been able to upload anything to the Fiji updater. I've tried from different machines, OSes and networks but haven't had any success. Meanwhile the BigDataViewer APIs changed a little bit and the KLB backend on the updater is now outdated and incompatible.

I'm in the middle of something else currently, but I'll give it another shot later today.

[2018-02-06 19:09] imagejan commented on #41
@bhoeckendorf wrote:

Please do not open a new update site to replace an existing one. Subscribers of the current one will not get notified and end up with obsolete versions of your plugins.

Let's instead try to fix uploading to http://sites.imagej.net/SiMView/ for you if required, possibly with the help of @ctrueden.

[2018-02-06 21:54] ctrueden commented on #41
@imagejan I'm sorry I've been extremely slow in helping @bhoeckendorf with this problem, which is why he's resorting to such extreme measures. We have been (slowly) going back and forth in private email for many months.

The current situation is that I reset the `SiMView` user's password to a known-to-work password, and tested it myself from my computer, and it worked. But when @bhoeckendorf tries

[2018-02-07 18:32] Xqua commented on #41
Thanks for you guys work on this !

In the mean time, is there a way to maybe downgrade BDV to the KDB dist ?
Or better yet, I'm happy to build the KDB against the BDV, but I'd need to know which versions to use ^^ !

[2018-02-07 19:04] Xqua commented on #41
@bhoeckendorf  maybe you could release the JAR file here for now until the update site issues are fixed ?

[2018-02-07 19:30] ctrueden commented on #41
I am also happy to upload the JAR from my machine, if @bhoeckendorf shares it (emails to me as an attachment, or makes a cloud share link). I tried to build it myself, but the `bhoeckendorf/klb-bdv` master branch is not updated with the needed fixes. @bhoeckendorf Could you please push your fixed version?

[2018-02-07 19:32] ctrueden commented on #41
I pushed my (quick) attempt to fix it here: https://github.com/bhoeckendorf/klb-bdv/compare/master...ctrueden:bdv-fixes

[2018-02-07 20:40] bhoeckendorf commented on #41
I did not have any luck uploading the files. This is on a machine that was reinstalled from scratch a few weeks ago. Fiji is a fresh download (no-JRE variant). I configured the upload settings for the update site by deleting the default entry and reintroducing it via the "Add my site" function. It shows the `webdav:SiMView` entry es expected, although the path was blank. I've tried that and also t

[2018-02-07 21:25] Xqua commented on #41
@ctrueden There is some dependency error with KLB 3.4

[code]

[2018-02-07 21:27] bhoeckendorf commented on #41
@Xqua I've send the files you need to @ctrueden so he can apply the updates. You will not currently be able to build it yourself from source without modifying the code. Sorry for not having pushed the code changes to the repos. I'll do so once I get a chance.

[2018-02-07 21:43] bhoeckendorf commented on #41
In the hopes of providing a fast solution, here are the two files:
https://www.dropbox.com/s/u6k0cj3hze1w4s9/klb-0.3.6-SNAPSHOT.jar?dl=0
https://www.dropbox.com/s/ufyg9cg3qx2kybn/klb-bdv-0.2.1-SNAPSHOT.jar?dl=0

They need to be placed in the `jars` subfolder of Fiji. After copying them there, you should have 2 separate versions of klb-[version].jar and klb-bdv-[version].jar in that folder. You sho

[2018-02-07 21:49] Xqua commented on #41
thanks @bhoeckendorf
ahaha I was fighting against the machine for the last 2 hours ^^ you saved me a night of hair pulling ;)

[2018-02-07 22:12] bhoeckendorf commented on #41
Great, glad it works for you now, @Xqua. Just keep in mind that you now have 'locally modified' files in your Fiji installation. This means that the updater does not handle them automatically anymore. Instead, you can enter 'Advanced mode' (by pressing the button with that name) where you'll be presented with a drop-down menu where you can explicitly choose what to do about the locally modified fi

[2018-02-07 22:21] Xqua commented on #41
@bhoeckendorf yup ! Thanks for the reminder not to update thoose !
I've already set the Watch on this thread ;)
Don't hesitate to ping me if you need someone to test once it's pushed !

[2018-02-07 22:34] ctrueden commented on #41
I uploaded the JARs to the SiMView update site. To avoid future pain, we could consider adding Travis CI instructions to the `bhoeckendorf/klb-bdv` repo that auto-upload successful build artifacts to the SiMView update site.

[2018-02-07 22:35] #41 closed

[2018-02-08 14:55] bhoeckendorf commented on #41
Thanks a lot, @ctrueden. CI is a good idea, I'll look into that. I may need some help on this though, since I'm not sure how to interact with the updater in this context. Furthermore, klb-bdv depends on klb, which includes a C/C++ library that needs to be compiled (for multiple platforms) and bundled into the .jar.

[2018-02-08 19:05] ctrueden commented on #41
@bhoeckendorf I suggest you deploy the `klb` JAR file(s) to the ImageJ Maven repository at the latest release version. Then depend on that in downstream code, so that your builds are reproducible.

[Here](https://github.com/scenerygraphics/SciView/blob/e530154bb04e535068a1165ca4c5235c7073ee2a/sciview_deploy.sh#L11-L19) is how the SciView project does it. This uses the [command line updater](http:/

[2018-02-12 22:57] Xqua commented on #41
You can also save yourself some time by creating a Docker Image with all the necessary components, and use it as a base for compilation. Can save a looot of time on the build part!

[2018-02-23 05:57] Xqua commented on #5
https://arxiv.org/pdf/1412.0488.pdf

[2018-02-23 06:04] Xqua opened #42 "Missing compression information on Arxiv Paper"
Dear,

I am writting my own script to create XML/HDF5 files in python (need to use on a cluster, on single plane tiff, so the IJ implementations aren't going to work for me)

I succeeded in doing so, BUT, I am missing the compression part.
on the Archive paper, it states that it uses the DEFLATE compression, which is basically gzip.
But there is no indication on the level of compression available

[2018-02-23 06:32] decarlof commented on #5
thanks I will look into it

[2018-02-23 07:00] Xqua commented on #5
No problem, I am implementing a python script I'll post it here when I finished.

[2018-02-23 11:21] tpietzsch commented on #42
Looking into the code, it just uses the default compression level of  the jhdf5 library, here

https://github.com/bigdataviewer/bigdataviewer-core/blob/8b6b8c2f250a02b6666e19a51dd9836bd3de4731/src/main/java/bdv/export/WriteSequenceToHdf5.java#L603

which is 6

http://svnsis.ethz.ch/doc/hdf5/current/constant-values.html#ch.systemsx.cisd.hdf5.HDF5IntStorageFeatures.DEFAULT_DEFLATION_LEVEL

But you c

[2018-02-23 18:51] Xqua commented on #42
Thanks for this info !

[2018-02-23 18:51] #42 closed

[2018-04-09 14:49] hanslovsky commented on #28
I am all for it, too.

[2018-06-09 11:46] tischi opened #182 "Show pixel value"
In the upper right corner one can always see the current pixel coordinates under the mouse, which is great!

However, is there a reason why it does not also show the current pixel value?

IMHO, in the daily life of a bioimage analyst this is an absolute must-have...

I understand, if the pixel type is "Animal" you might not want (be able) to show it, but for all NumericTypes it should be no proble

[2018-06-09 20:32] tischi opened #196 "Record movie with overlays"
I found the "Record movie" option in the GUI, but (i) I could not find it in `vistools` and (ii) it did not save Overlays for me.

(i) Could one change it to also include Overlays (maybe as a option)?
(ii) Could one make this functionality also accessible through the vistools?

[2018-09-04 08:57] trasse commented on #5
Dear Xqua,

did you already finish the python script?

I would like to save a set of numpy arrays as BDV-readable:

XML - HDF5-header-file
plus one HDF5 per time-point per angle per tile per illumination per channel.

(not as XML & big HDF5)

Can you please send me a message that we do not duplicate efforts?

Thanks a lot!
Kind regards

Tobias

[2018-09-04 10:00] tpietzsch commented on #5
@trasse the best way to make this work is to create the individual HDF5 files per time-point per angle per tile per illumination per channel, and then create a "master" HDF5 that has all the datasets as links into the individual HDF5s

[2018-09-04 10:51] trasse commented on #5
@tpietzsch Thanks for the fast response.

Yes, this was my plan.
It is easy to make the individual HDF5 files per time-point per angle per tile per illumination per channel in Python.

But i am not aware of a solution to create the Master HDF5 and the XML in Python?
(at least not for the pure BDV format)
I sounded like Xqua was about to do this?
Or has this already been done?

(i have a cluster co

[2018-09-26 20:30] bogovicj commented on #39
This looks to be basically done since 7eed3f1d3d596904969d02e594fac23bd14d8fb1

[2018-10-10 13:11] hanslovsky opened #48 "MultiResolutionRenderer creates new images with every paint request if highest screen scale is not 1"
The width/height check in [`MultiResolutionRenderer.checkResize`](https://github.com/bigdataviewer/bigdataviewer-core/blob/9aedbc601185e36f2d5dbd604a792c99e82c48ef/src/main/java/bdv/viewer/render/MultiResolutionRenderer.java#L368) compares the width/height of the image scaled by the screen scale to the component width/height

[code]
when instead, it should compare the width/height of the image com

[2018-10-10 13:13] hanslovsky commented on #48
See also saalfeldlab/paintera#143

[2018-10-15 09:40] #48 closed

[2018-10-15 13:55] tpietzsch commented on #39
@bogovicj I think your commit is a good suggestion. Could you make a PR?
Maybe you could in the same PR fix this:
https://github.com/bigdataviewer/bigdataviewer-core/blob/7de74547ed3f2e7b6c3ea835a33c510aa55cd86e/src/main/java/bdv/tools/brightness/SetupAssignments.java#L214
to say `new MinMaxGroup( fullRangeMin, fullRangeMax, defaultRangeMin, defaultRangeMax, ...)`?

[2018-11-01 15:03] dietzc opened #195 "Revise package structure to avoid split packages"
net.imglib2.display.

See also https://github.com/imglib/imglib2-ij/issues/25

[2018-11-01 15:04] dietzc opened #51 "Revise package structure to avoid split packages"
net.imglib2.display.

See also https://github.com/imglib/imglib2-ij/issues/25.

[2019-01-09 16:35] Xqua commented on #5
I had created this. It's unfinished and untested but is the rough class you'll need ! Sorry for the long time to reply I missed this notification !

[code]

[2019-01-25 09:17] tischi opened #194 "SelectionBox including time"
@tpietzsch
For the planned SelectionBox it would be really great to (optionally) have a time-slider (at least I really need it).

[2019-01-25 09:20] tischi opened #193 "Better access to converters"
Right now, `BdvFunctions.show()` basically builds suitable converters around input sources. It would be really useful to have more control about the converters.

One idea could be to enable something like:

[code]

Like this one could, after showing the `sac` in the `Bdv` still do things like:

[code]

[2019-01-27 08:56] tischi opened #192 "Access to Groups and Sources via their names"
@tpietzsch @tibuch
It would be really helpful to be able to write code like this:
[code]
Without this one has to constantly keep track of how the respective names map to the respective indices.

[2019-03-06 13:04] rmd06 commented on #15
I have write a script to make ims file de novo from matrix

[2019-03-06 13:39] tinevez commented on #15
@emmenlau I think that this responsibility is in the end of the Imaris people, not the BDV people.
Therefore, can I close this issue here?

[2019-03-14 12:41] #15 closed

[2019-04-26 11:02] tischi opened #191 "Set Bdv Screen Position"
Hi @tpietzsch,

I think it would be very useful if one could specify in the `BdvOptions` not only the size of the Bdv window, but also the position on the screen.

Right now I am doing it like this (which seems like there should be a better way?):

[code]

[2019-04-27 09:41] tischi opened #55 "BoxSelectionOptions add setLocationOnScreen"
Hi @tpietzsch,
For larger projects that use Bdv it is important  to be able to control the location of any windows that might pop up (otherwise users might get confused). I therefore think it could be very useful to add a new option to the `BoxSelectionOptions`, namely `setDialogLocationOnScreen( x, y )`. This would allow one to control where the dialog with the sliders appears.
What do you think?

[2019-04-29 10:14] tpietzsch commented on #55
Sounds good 👍

[2019-04-29 10:17] tischi commented on #55
OK, I'll put it on my list.

[2019-05-09 16:34] tischi opened #190 "Setting ViewerTransform in BdvFunctions.show call"
Hi @tpietzsch @tibuch ( @metavibor )

Would it be technically feasible to also add the `ViewerTransform` to the `BdvOptions`.
Sometimes one knows a priori how one would like to display the image. Setting this only after adding the source to the viewer causes a disturbing flickering due to the change of the transform.

[2019-06-06 14:24] david-hoffman opened #57 "Measurement tool"
It'd be nice to have a measurement tool so that you could measure distances within `BigDataViewer`.

@bogovicj we discussed this as being part of `BigWarp` or `BigDataViewer` not sure the best place to put this enhancement request.

[2019-06-28 13:10] bogovicj commented on #57
https://github.com/bigdataviewer/bigdataviewer-workshop/blob/cdced4340e8c0ef8ded2e83087a252d1fd55563e/src/main/java/bdv/workshop/E07MeasureDistance.java

[2019-07-15 11:30] tischi opened #58 "Error message when closing Bdv with active TransformedBoxEditor"
@tpietzsch
When calling `bdvHandle.close()` on a Bdv that currently shows a `TransformedBoxEditor` I am getting below error:
[code]

Am I doing something wrong or is this maybe a bug?

[2019-07-15 11:36] tpietzsch commented on #58
Looks like this should have been fixed in #52
Are you maybe not using the most recent bigdataviewer-core version?
Could you try explicitly add
[code]
to your dependencies?

[2019-07-15 12:25] tischi commented on #58
Yes, thanks that helps!

However, when using the higher version of `bigdataviewer-core` an incompatibility with older versions of `bigdataviewer-vistools` occurred:

There used to be a method called
`RealARGBColorConverter.Imp1( )`
which is now not present anymore, but one can use
`RealARGBColorConverter.create( )`
instead.

This is not an issue for me locally, because I can just use the latest ve

[2019-07-15 12:30] tpietzsch commented on #58
I uploaded the newest versions to the Fiji update site, but I should make a PR to pom-scijava to bump the versions there. Thanks for the reminder...

[2019-07-15 12:40] #58 closed

[2019-07-15 19:07] tpietzsch commented on #58
Of course, @ctrueden already took care of it! (Thank you so much!)
It's just not released yet.

[2019-07-15 19:59] ctrueden commented on #58
Sorry for the slowness in release. I still need to get imagej-ops reconciled with imagej-scripting, and then I can finally release the new pom-scijava 28. My hard deadline is end-of-day Wednesday, since I have a vacation coming up for the next couple of weeks afterward. Will do my best! 🤞

[2019-07-16 07:27] tischi commented on #58
Enjoy your holidays! You deserve it!!!!!!

[2019-08-13 17:57] tischi opened #60 "Get nonVolatile access on VolatileSpimSource"
Hi @tpietzsch,

Looks like you changed the API of `VolatileSpimSource`, removing the `nonVolatile()` method:
https://github.com/bigdataviewer/bigdataviewer-core/commit/75e082a6686e6d980215c1550394fc4bedf6d702#diff-8108dedc15fa29afec4e4c00046d1b09L71

Is there still a way to get `nonVolatile` access to the image data?
The code where, I think, I need it currently looks like this: https://github.com/

[2019-08-13 18:16] tpietzsch commented on #60
Where does the `Source` come from?
Normally, if you get the list of Sources from `ViewerState.getSources()`, these will be the non-volatile sources, with the volatile versions nested underneath
https://github.com/bigdataviewer/bigdataviewer-core/blob/6d32df2f4fa849fdbd4b1ad9251a08376e3c82ab/src/main/java/bdv/viewer/SourceAndConverter.java#L96-L99

Only if there is no non-volatile version, the `Vie

[2019-08-14 07:25] tischi commented on #60
Thanks a lot for the detailed answer!

In fact, it might be historical that I needed the `VolatileSpimSource.nonVolatile()` method.
I am not sure it is currently still needed; I changed my code to throw an error in case it ends up there.

The way I currently initialise the `LazySpimSource` is like this: https://github.com/tischi/bdv-utils/blob/master/src/main/java/de/embl/cba/bdv/utils/sources/Laz

[2019-10-02 20:53] bogovicj opened #62 "negative display range error"
To reproduce:
1) Open an image with negative values in fiji.
2) Set the lower bound of brightness/contrast to a negative number
3) open the image with bdv

You'll see
[code]

I can look into this, but not soon :-/ (just don't want to forget)

[2019-10-06 15:36] #28 closed

[2019-10-08 13:07] tpietzsch commented on #60
Looks OK, yes 👍

[2019-10-08 13:07] #60 closed

[2019-10-10 18:14] bogovicj commented on #62
Can't seem to reproduce - may have been using an older bigdataviewer.  My fault.  Closing

[2019-10-10 18:14] #62 closed

[2019-10-15 14:43] tischi opened #189 "Show SourceAndConverter"
@tpietzsch @NicoKiaru
I am trying to implement `BdvFunctions.show( SourceAndConverter )`.
At some point the code arrives here in bdv-core:
https://github.com/bigdataviewer/bigdataviewer-core/blob/6d32df2f4fa849fdbd4b1ad9251a08376e3c82ab/src/main/java/bdv/BigDataViewer.java#L212
where only `ColorConverter` are accepted. I understand that for the current UI this is nice to have, but I guess, in prin

[2019-11-17 12:39] tischi opened #63 "TransformedBoxSelectionDialogs return result before being fully uninstalled"
These methods (ok and cancel): https://github.com/bigdataviewer/bigdataviewer-core/blob/master/src/main/java/bdv/tools/boundingbox/AbstractTransformedBoxSelectionDialog.java#L100
call `setVisible( false );` which in turn triggers `boxEditor.uninstall()`:
https://github.com/bigdataviewer/bigdataviewer-core/blob/master/src/main/java/bdv/tools/boundingbox/TransformedRealBoxSelectionDialog.java#L136

[2019-11-21 13:58] tischi opened #64 "Amend Help"
Is it possible to add more information to the help that is currently shown hitting F1?

[2019-12-18 12:18] tischi opened #188 "Better separation of functionalities"
Currently `BdvFunction.show` is doing three things:

- it is creating one or multiple `Source< ? >`s for a given input
- it is creating a `Converter< ? , ARGBType >`
- it is showing the (newly created) `SourceAndConverter` in bdv.

This is very convenient, but I was wondering whether it could be possible to separate this a bit.

For example,

- having a `SourceCreator( ... )` with several construc

[2020-01-17 09:56] tinevez opened #69 "Update known dependencies regarding changes in ViewerState."
PR #67 introduces massive changes to the `ViewerState`. This issue tracks what known dependencies have been updated to match these changes, so that the deprecated API could be removed in the not-so-distant future.

- [ ] BigStitcher (@StephanPreibisch )
- [ ] BigWarp (@bogovicj )
- [ ] MaMuT (@tinevez )
- [ ] Mastodon (@tinevez )

[2020-01-17 15:51] bogovicj commented on #69
https://github.com/saalfeldlab/bigwarp/issues/85

[2020-01-22 11:42] constantinpape opened #74 "BDV-N5 cannot load n5 datasets with missing chunks"
When trying to open an n5 dataset with missing chunks, bigdataviewer fails with the following
exception:
[code]

I guess there should be a check in the  [N5 image loader](https://github.com/bigdataviewer/bigdataviewer-core/blob/5d2a1b1ef29d6a321fe6719a49d50fe7e42e2d27/src/main/java/bdv/img/n5/N5ImageLoader.java) that returns a zero-filled array in case of missing chunks.

This is fairly critical f

[2020-01-22 12:01] tpietzsch commented on #74
@constantinpape Can you provide a small example n5 dataset with missing chunks. I'll try to fix it.

Is it a concern whether the missing chunks appear later? In the simple fix, once a chunk was missing, the image loader will not attempt to reload it.

[2020-01-22 12:18] constantinpape commented on #74
@tpietzsch
I have uploaded an example file [here](https://oc.embl.de/index.php/s/KekkDJdMIMPhi4A).

I also had a closer look at the code and I think the issue is that `n5.readBlock` returns `null`, which causes `createArray.apply` to throw the exception [here](https://github.com/bigdataviewer/bigdataviewer-core/blob/5d2a1b1ef29d6a321fe6719a49d50fe7e42e2d27/src/main/java/bdv/img/n5/N5ImageLoader.ja

[2020-01-22 12:48] tpietzsch opened #75 "Fix Manual Transform"
I noticed a small glitch with Manual Transform: in single-source mode, pressing `T` lead to a warning message : "Can only do manual transform when in FUSED mode ". However pressing a second time `T`, still in single-source mode, lead to the message "Fixed manual transform" and to a change of view transform which is quite weird, at 45 degrees.

_Originally posted by @NicoKiaru in https://github.com

[2020-01-22 13:24] #75 closed

[2020-01-23 08:04] NicoKiaru opened #77 "New State / UI : bdv hangs when calling state().addSource(sourceAndConverter)"
As mentioned in the title, bdv hangs in the table-tree-cards-clean branch when adding programmatically a Source.

Here's a gist which reproduces the issue:

https://gist.github.com/NicoKiaru/4a32a21a12c720e8ff15cb0fdcae5af2

It's requiring two additional dependencies, that are used just to help display two example sources.

The lock is produced when the line ` bdv.getViewer().state().addSource(cam

[2020-01-23 11:05] tpietzsch commented on #77
@NicoKiaru Thanks for exploring and reporting and the example! This is so helpful!!!

The deadlock should now be fixed (82e745b8fd2a090700705899b5e64393c8eceeaa)

Regarding the additional questions in your gist:

[code]
Legacy reasons. In the old `BrightnessDialog` (via `SetupAssignments`), the ConverterSetups are identified by unique ID instead of as objects. The IDs are also used, when de/serial

[2020-01-23 11:05] #77 closed

[2020-01-23 11:26] NicoKiaru commented on #77
Awesome, thanks for the quick fix and all the info! I'll have a look at visualVM

[2020-01-23 14:47] tischi commented on #74
@constantinpape
For testing purposes, I implemented a quick fix (see below). It works, i.e. there are no more error messages during loading. So, I think we can proceed under the assumption that your python n5 writer produces valid data.
[code]

[2020-01-23 16:01] NicoKiaru opened #78 "New State / UI : subtle bdv hang when calling state().removeSource(sourceAndConverter)"
As mentioned in the title, bdv hangs in the table-tree-cards-clean branch when removing programmatically a Source, but only if the line `bdv.getSetupAssignments().addSetup( csCamera );` has been called before. If you comment it, then there's no issue.

I updated the gist to reproduce the issue:
https://gist.github.com/NicoKiaru/4a32a21a12c720e8ff15cb0fdcae5af2

It's requiring two additional depend

[2020-01-23 16:03] NicoKiaru commented on #77
There's a new maybe related issue. Less annoying, because potentially it could be avoided by using the new UI and dropping the old one, but here it is:

https://github.com/bigdataviewer/bigdataviewer-core/issues/78

[2020-01-24 13:07] NicoKiaru commented on #78
Adding the visual VM thread dump: (indeed super easy to use)

[code]

[2020-01-29 09:16] tinevez commented on #69
For MaMuT: https://github.com/fiji/MaMuT/tree/bdv-viewer-state

But there are still some remaining issues:

- [ ] If have some problems with the `MamutRecordMaxProjectionDialog` and `MamutRecordMovieDialog`. Their `paint()` methods call the deprecated `ViewerState`. I tried to rely on the new `RecordMovieDialog` etc in bdv-core, but they give a StackOverflow exception.

- I still have the deprecat

[2020-02-03 09:48] tischi opened #80 "n5-aws-s3"
@tpietzsch @axtimwalde @igorpisarev

@constantinpape and myself are working on loading n5 from an AWS object store into bdv. We already have running code and once that is more mature I could also stage a PR into bigdataviewer-core.
We however thought that it would be good to discuss a few things upfront.

Maybe a good starting point are the xml specifications.

What we currently have looks like th

[2020-02-03 10:44] constantinpape commented on #80
I think that we can combine the 3 fields `ServiceEndpoint`, `BucketName` and `Key` into a single
field `Uri`, see @igorpisarev s [comment](https://github.com/saalfeldlab/n5-aws-s3/issues/1#issuecomment-578861123). We did not do this in the prototype yet, because the [AmazonS3URI](https://github.com/aws/aws-sdk-java/blob/master/aws-java-sdk-s3/src/main/java/com/amazonaws/services/s3/AmazonS3URI.jav

[2020-02-03 14:26] tpietzsch commented on #78
@NicoKiaru I could not reproduce this one on my computer. I moved more stuff into `SwingUtilities.invokeLater(...)`, I hope I caught all of it. Could you try whether the problem still occurs after 7c8d681?

[2020-02-03 14:41] NicoKiaru commented on #78
It's not hanging anymore, wonderful! Closing the issue. Thanks @tpietzsch !

[2020-02-03 14:41] #78 closed

[2020-02-03 15:53] axtimwalde commented on #80
Isn't the n5-utils viewer already doing this?

https://github.com/saalfeldlab/n5-utils/blob/master/src/main/java/org/janelia/saalfeldlab/View.java

Here is the factory

https://github.com/saalfeldlab/n5-utils/blob/master/src/main/java/org/janelia/saalfeldlab/N5Factory.java

[2020-02-03 17:25] igorpisarev commented on #80
There is also https://github.com/saalfeldlab/n5-viewer, which is a BDV-based Fiji plugin for N5 with support for AWS S3 and Google Cloud.

@tischi @constantinpape I think it would be great to support the cloud platforms in BDV by default and ship it with Fiji. However, I would suggest to have a look at n5-viewer and n5-utils as it may have some useful bits as well.
Instead of specifying the endpoi

[2020-02-03 18:07] tischi commented on #80
I am probably missing something, but we just thought it could be useful to implement an aws-s3 equivalent of this code:
https://github.com/bigdataviewer/bigdataviewer-core/blob/b9e308b70afb1addf3ffb8c5199d2db45f55cde1/src/main/java/bdv/img/n5/XmlIoN5ImageLoader.java#L42

[2020-02-03 19:04] axtimwalde commented on #80
Certainly!  It wasn't clear to me that you are pondering about an XML schema (and not loading n5 from an AWS object store into bdv) from the issue text.  I prefer the separation of semantic fields over lumping them together in a single URL.

[2020-02-03 19:13] tischi commented on #80
Me, too.

[2020-02-03 19:47] constantinpape commented on #80
Thanks for the pointer!

If we (also) have a bdv-xml scheme, it would make it much easier to distributed files to users who are not comfortable with a CLI and all relevant data would be bundled in the xml (at least for a public bucket).

I am not very familiar with the AWS authentication system yet, but as far as I understand it we could also access private buckets from the information in the meta

[2020-02-04 12:32] tischi opened #81 "data fetching strategy"
@axtimwalde @tpietzsch @constantinpape

I was wondering about the data fetching (repainting) strategy of bdv. Let's say I start at resolution level 0 and then use the up arrow key to zoom in until I reach level 5 of that data set.

I think my questions are:
- Will bdv also load all the intermediate resolution levels (1-4), when zooming in?
- And will it load the data not only for the region that o

[2020-02-04 12:45] tpietzsch commented on #81
Just to avoid confusion: 0 is the highest resolution. So you would start zoomed out at 5 and then zoom in to 1.

The following is off the top of my head, I would have to look into the code for exact details

Yes.

That depends...

For every frame, the blocks needed to render that frame are requested and enqueued for loading.
That queue is ordered by priority. Generally speaking, I think low-resolu

[2020-02-04 13:55] tischi commented on #81
Thanks! Yes, that's how I understood it from your description.

Are there parameters accessible to play with it? For example, is there something like a `frameRate`? From what you wrote it sounds like decreasing such a  `frameRate` might be a way to skip loading some blocks when browsing very fast through the image? A bit like my suggestion of only considering a view as worthwhile when the user spe

[2020-02-04 14:02] tpietzsch commented on #81
Not really.
You can try to increase targetRenderNanos, which will decrease frame rate and may help as a side effect...

An easy option to try something in the source code would be to change in the
`VolatileGlobalCellCache` constructor
[code]
the line
`queue = new BlockingFetchQueues<>( maxNumLevels, numFetcherThreads );`
to
`queue = new BlockingFetchQueues<>( maxNumLevels, numFetcherThreads, XXX )

[2020-02-04 14:55] tischi commented on #81
I played around with both the `BlockingFetchQueues` and the `targetRenderNanos` but I could not find a clear effect.  Increasing `targetRenderNanos` seemed to help a bit but then there also is a rugged feel to the browsing. I think maybe the main issue is that our block sizes in the stored data are too large.

[2020-02-04 15:00] axtimwalde commented on #81
Relatedly: The current block fetching strategy is optimized for low latency situationa such as local file systems, in particular the limited number of fetcher threads can artificially slow down loading time for low latency back ends such as cloud storage.  In a low latency world, it is usually better to submit as many requests as you can in parallel and process or reject them as they slowly drop i

[2020-02-04 16:42] tischi commented on #81
I will do it but, I feel currently our block sizes are a bit too large. @axtimwalde in terms of `NxNxN` pixels per block, do you have a suggestion for `N` for the n5-aws-s3 scenario?

[2020-02-04 16:43] constantinpape commented on #81
@tischi I am setting up several test datasets for you with different chunk sizes atm, will let you know when this is there.

[2020-02-04 17:03] axtimwalde commented on #81
With more threads, I believe smaller is better.  How about 64^3?.

[2020-02-05 03:33] axtimwalde opened #82 "Structured meta data in N5 or HDF5"
The lack of structured meta-data in HDF5 made it necessary to store more complex stuff in the external BDV XML file.  Also, it naturally limited the richness of meta-data concerned with multi-scale image pyramids as is visible in the flat specifications that we [currently use](https://github.com/bigdataviewer/bigdataviewer-core/blob/master/BDV%20N5%20format.md).  Modern multi-file backends such as

[2020-02-05 10:36] tischi commented on #81
We tried different chuck sizes: `[64, 64, 64]` and`[128, 128, 128]`, and `64^3` seemed more responsive.

I also tried different `numRenderingThreads`: `3` (the default) and `20` and maybe `20` felt faster. I am not sure this makes sense, since I only have 4 cores on my computer?

I did these "tests" by visual inspection, browsing around in bdv and trying to repeat the same manouvering for the diff

[2020-02-05 10:39] constantinpape commented on #81
Yes, I think in our setting this makes sense. The operations are not limited by cpu, but by fetching the chunks from s3. So increasing the number of threads past the number of cores can bring a speed up.

[2020-02-05 10:41] tischi commented on #81
Again, this is purely by visual feeling but changing from 3 to 20 mainly seemed to matter in the 64^3 case and less so in the 128^3 case.

[2020-02-06 08:54] tischi opened #83 "version compatibility"
@tpietzsch @StephanPreibisch @maarzt @bogovicj
Is `8.0.1-SNAPSHOT` (current master) compatible with BigStitcher, LabKit and BigWarp other Fiji plugins?  I would need to ship this version with my update site.

[2020-02-10 09:40] tischi commented on #83
We tested it by using `bigdataviewer-core` `8.0.1-SNAPSHOT` in an otherwise normal Fiji and both BigDataViewer and BigStitcher seemed to work. We thus hope it's fine to ship it.

[2020-02-10 09:40] #83 closed

[2020-02-10 19:43] tpietzsch commented on #82
@axtimwalde @d-v-b Sounds promising. Do you have a link to the proposal?

In general, I'm all for adding a meta-data to the N5 and HDF5, maybe to the point where it is possible to recreate the XML completely, such that XML is not needed for those.
However, I think for the foreseeable future the XML will remain the authoritative source, because it provides extensibility for non-N5/HDF5 backends, su

[2020-02-10 19:55] d-v-b commented on #82
@tpietzsch the proposal is here (the "COSEM style"): https://github.com/janelia-cosem/schemas/blob/master/multiscale.md ; it's not final, but the basic principles are: a) put multiscale-specific stuff in group-level attributes b) keep dataset-specific stuff (resolution, offset, etc) in dataset attributes.

[2020-02-11 16:05] tischi commented on #74
@constantinpape  Below is the code supporting all cases.
@tpietzsch Should I make a PR or do you want to do this differently?
[code]

[2020-02-17 08:41] constantinpape opened #85 "Use VolatileUnsignedTypes in createCacheArrayLoader?"
@tischi and me ran into an issue with loading unsigned integer types for n5 data.
This may be related to the fact that in the code below, the unsigned types map to `VolatileTypeArray` instead of `VolatileUnsignedTypeArray`:
https://github.com/bigdataviewer/bigdataviewer-core/blob/master/src/main/java/bdv/img/n5/N5ImageLoader.java#L365-L378

Is this on purpose?
Note: we are not sure that this is ac

[2020-02-17 12:16] tpietzsch commented on #85
Yes, that is definitely on purpose. Using the volatile arrays allows to put volatile (as well as non-volatile) Types "on top" of the data.

[2020-02-17 12:16] #85 closed

[2020-02-17 12:30] constantinpape commented on #85
Sorry, maybe the initial formulation of the issue was unclear, but the question was not about the use of `VolatileArray`, but rather why both signed and unsigned types map to the same volatile array.
E.g. why is it
[code]
and not
[code]

[2020-02-17 12:33] tpietzsch commented on #85
There is no `VolatileUnsignedByteArray`, because there is no unsigned byte java primitive type.
Basically, both `UnsignedByteType` and `ByteType` map into a primitive `byte[]` arrays (which `VolatileByteArray` is an abstraction over.)

[2020-02-17 12:40] constantinpape commented on #85
Ok, I see. Thanks for the clarification.

We were assuming that there are `VolatileUnsignedArrays`, because there's `VolatileUnsignedTypes`, e.g. https://github.com/imglib/imglib2/blob/fb42809c5fa400f1f3a11f43e3931acfb93148ae/src/main/java/net/imglib2/type/volatiles/VolatileUnsignedLongType.java. But indeed the arrays are not there.

[2020-02-17 12:57] tpietzsch commented on #85
@constantinpape What issue are you actually seeing with your n5 loader?

[2020-02-17 13:11] constantinpape commented on #85
The uint64 data is not displayed properly in BigDataViewer: it just "flickers" when we are zooming or scrolling through the dataset. When we are not moving it is not shown. See also [this video](https://github.com/platybrowser/platybrowser-backend/issues/5#issuecomment-584667352).

We have encountered this issue a few times before and it was always related to empty n5 chunks, cf #74. Our current s

[2020-02-17 14:03] tpietzsch commented on #85
Hmm, nothing looks immediately wrong about that code.

Did you check that n has a reasonable value here: https://github.com/tischi/bigdataviewer-core/blob/16c6ab88d131154da3f552f765b1738a5e67a39d/src/main/java/bdv/img/n5/N5GenericImageLoader.java#L322
and that it actually ends up in the UINT64 case (as I expect it should)
https://github.com/tischi/bigdataviewer-core/blob/16c6ab88d131154da3f552f765

[2020-02-17 15:35] constantinpape commented on #85
Ok, it turns out this was due to code duplication and an old version of the empty array check being used.
Sorry for the confusion and thanks for having a look @tpietzsch.

[2020-03-25 19:08] maximka48 opened #88 "How to read affine transformation's line in xml?"
Hi all

Could you tell me how to read the affine transformation's line in the xml file of bdv? I read through the https://arxiv.org/pdf/1412.0488.pdf but couldn't find the answer.

I have six XYZ datasets inside my bdv .h5 file. Its xml description has 12 numbers at the Affine transformation's line. I assume that I should have at least 3 angles + 3 translations. Could you help me to figure which i

[2020-03-26 10:57] tpietzsch commented on #88
The 12 numbers at the Affine transformation's line are arranged in the upper 3x4 matrix of the 4x4 homogeneous affine transformation matrix.
[code]
The coefficients appear in the xml in row major order, as `a11 a12 a13 a14 a21 a22 a23 a24 a31 a32 a33 a34`.

You can best think of the as forming a 3x3 matrix
[code]
and 3-vector
[code]
that transform coordinates `x` to coordinates `x'` as
[code]
The

[2020-03-26 10:57] #88 closed

[2020-05-16 18:14] NicoKiaru opened #91 "Enable Drag and Drop between different bdv windows"
The drag and drop mechanism with `SourcesTransferable` works within a bdv window, but it would be nice to make this work between different windows.

I think this would mean adding sources here : https://github.com/bigdataviewer/bigdataviewer-core/blob/c48ab1de3e7ae1b2a1adcb7f8149adff1d2cfb38/src/main/java/bdv/ui/sourcegrouptree/SourceGroupTree.java#L415

before adding them to a group.

If you beli

[2020-05-16 18:41] NicoKiaru commented on #91
Ah! But the convertersetups will not be transfered...

[2020-05-16 19:14] #91 closed

[2020-05-19 12:33] maweigert opened #92 "Setting ViewTransforms in xml for all channels/setups"
Hi,

I have a 2-channel 3D image and want to have it displayed horizontally mirrored when loading with BDV. I tried setting the affine transformation component in the xml to -1 for each setup:

[code]
which, however has not effect. Yet if I only flip one channel of the two, it does work.
Is that something to be expected and am I doing something wrong?

Here's a minimal example: [bdv.zip](https://g

[2020-05-19 15:03] tpietzsch commented on #91
@NicoKiaru One topic for multi-window usage would be to be able to share parts of ViewerState between windows (selectively, e.g., share grouping, but not convertersetups and viewertransform). I'll make a separate issue about that, I just thought of it again, because the "source renaming" also runs into that...

[2020-05-19 15:32] tpietzsch commented on #92
You are doing nothing wrong. This is just BigDataViewer trying to be clever...
The initial "viewer transform" is set up to align with the center XY plane of the first channel
https://github.com/bigdataviewer/bigdataviewer-core/blob/8c16d1203d820ab91318d01db5f2ca1e62d11065/src/main/java/bdv/tools/InitializeViewerState.java#L102-L169
Unfortunately, in this case, this will set the viewer transform so

[2020-05-19 22:20] maweigert commented on #92
Thanks for the fast reply!

Ok, I see. (`extractApproximateRotationAffine` seems to be agnostic about flippings).

Thanks again!

[2020-05-19 22:20] #92 closed

[2020-05-20 07:59] NicoKiaru opened #93 "Hdf5 files not being released on bigdataviewer window closing (Windows)"
@martinschorb noticed in https://github.com/bigdataviewer/bigdataviewer-playground/issues/77
that hdf5 files are not released from bigdataviewer when the window is closed.

In FIJI:
* open an xml / hdf5 with `Plugins>BigDataViewer> Open Xml/Hdf5`
* try to delete the hdf5 file -> not possible because it's accessed by java (ok)
* close the bdv window
* try to delete the hdf5 file -> still not possib

[2020-05-20 10:39] NicoKiaru commented on #91
Ok, thanks for replying. I hope we are not going too far with @tischi and @martinschorb  in bigdataviewer-playground, or that we will be able to catch the train when the partial `ViewerState` sharing happens.

In bdv-playground, we use exclusively `SourceAndConverter` and `ConverterSetups`, and that's how we communicate with multiple BigDataViewer instances : a single `ConverterSetup` is shared fo

[2020-05-22 15:25] tpietzsch commented on #91
That sounds perfectly reasonable.

I think nothing in `ViewerState` is necessary to communicate.
The sharing should be set up once and then happen behind the scenes autamatically.
So every window just should talks to itss own ViewerPanel/ViewerState. Then windows with shared state should be automatically notified etc

[2020-06-04 13:56] martinschorb commented on #93
Update: probably it is not OS dependent but rather at the file-system level.
Our network storage would not allow deletion of open files no matter what OS is accessing.

[2020-06-22 14:29] NicoKiaru opened #95 "Hard to reproduce threadlock BehaviourTransformEventHandler3D and transformChanged"
Hi,

I've encounteered this pretty rare threadlock. I'm putting it here for the record. I'm not sure what part of bdv-core vs my own stuff is responsible for it. I'll add more info if this happens again and if I know more.

Thread dump:

[code]

[2020-06-26 14:33] tpietzsch commented on #95
This deadlock is fixed in this in-progress branch https://github.com/bigdataviewer/bigdataviewer-core/tree/generic-renderer-revised

[2020-06-29 05:25] NicoKiaru opened #96 "Minimizing the window height to zero pixel creates an IllegalArgumentException"
It's not a normal situation, but if the window is shrunk to the maximum, then an exception is thrown:

[code]

[2020-07-05 18:29] lollopus opened #97 "Brightness and color dialog not spawning separate sections for multiple sources"
I came across this issue while using BDV from within BigStitcher. I may be missing something, but I just can't obtain a behavior of the Brightness and Color dialog box as described in the online documentation at [https://imagej.net/BigDataViewer](url)

I'm working with a simple set of overlapping tiles (one timepoint and channel). When I wish to adjust individually a tile's brighness, I open the a

[2020-07-05 18:30] lollopus opened #98 "Brightness and Color dialog min/max sliders not updating values"
I came across this issue while using BDV from within BigStitcher. I'm working with a simple set of overlapping tiles (one timepoint and channel). When I wish to adjust individually a tile's brighness, I open the aforementioned dialog. When I move adjust min/max values using the sliders the numeric values shown in the dialog don't change. However, typing in new values or clicking the two up-down ar

[2020-07-07 10:29] NicoKiaru commented on #95
Closing this issue then.

[2020-07-07 10:29] #95 closed

[2020-07-08 22:29] tpietzsch commented on #96
This should be resolved by #99
@NicoKiaru Could you check?

[2020-07-09 07:53] NicoKiaru commented on #96
I tested and there's no more exception in `generic-renderer-revised` branch, thanks!

[2020-07-17 15:57] tischi opened #100 "TransformedBoxEditor potential bug"
@tpietzsch

I could swear I posted this issue already somewhere, but now I cannot find, so I post it again.

Here:
https://github.com/bigdataviewer/bigdataviewer-core/blob/master/src/main/java/bdv/tools/boundingbox/TransformedBoxEditor.java#L285

This crashes if the current bindings do not contain the `moveCornerTrigger`, because `bindings.get( t )` returns `null`.

For me, below fix appears to wo

[2020-07-31 17:34] StephanPreibisch opened #101 "Bug in branch generic-renderer-revised"
Hi @tpietzsch,

I occasionally get this bug (I cannot reproduce it):

Exception in thread "PainterThread" java.lang.ArrayIndexOutOfBoundsException: -1
	at java.util.ArrayList.elementData(ArrayList.java:422)
	at java.util.ArrayList.get(ArrayList.java:435)
	at bdv.viewer.render.ScreenScales.get(ScreenScales.java:71)
	at bdv.viewer.render.MultiResolutionRenderer.paintFullFrame(MultiResolutionRenderer

[2020-08-03 10:09] balintbalazs opened #102 "Can't open uint16 dataset, Fiji crashes"
When opening a `unit16` dataset, BigDataViewer tries to convert it to `int16`, which can fail if a value is too large for an `int16`. It produces the error below for each pixel where the value is larger than 32767. Because the error happens for each pixel, this can make Fiji unresponsive and it can crash. The datasets can be loaded with the HDF5 plugin correctly.

[code]

Environment:
- Windows 10

[2020-08-14 14:32] tpietzsch commented on #101
I managed to reproduce it by putting a `Thread.sleep(1)` at the start of `MultiResolutionRenderer.paint()`, and figure out why it happened: a repaint request sets `newFrameRequest = true` before the currently running `paint()` can clear it (which happens more or less first thing, which is why it almost never came up). The fix is actually an `if` :-)

[2020-08-14 14:32] #101 closed

[2020-08-25 21:52] NicoKiaru commented on #96
Hum, I found another time this error with the `9.0.6` version:
[code]

This time with the width : this happens if you open the cardpanel and shrink the size of the window until only the cardpanel is displayed.

[2020-09-15 15:37] tischi opened #108 "Potential deadlock with new version"
Hi @tpietzsch,

Since version `9.*` we experience a deadlock in the following scenario:

Using `BdvFunctions.show()` we create a new BDV window and we add a source to it, which takes a long time to fully load because it comes from s3 storage.

Then the `BdvFunction.show()` call returns in debugging mode, however the source is still not shown but the BDV window is plain gray.

![image](https://user

[2020-09-15 15:54] tpietzsch commented on #108
I have no idea...
Does it happen also if you use a local source or is it tied to the s3?
Can you point me to the code?

[2020-09-15 15:56] tpietzsch commented on #108
and can you attach visualvm to see whether it is a deadlock and where the deadlock is?

[2020-09-15 20:57] tischi commented on #108
There is a deadlock according to VisualVM. Does that help?

[code]

[2020-09-15 21:48] tpietzsch commented on #108
thanks, that helps a lot! I'll investigate...

[2020-09-15 21:52] tpietzsch commented on #108
Ok, that deadlock should be actually fixed in the 10.* releases.
It is the same deadlock (or related to) #106

[2020-09-16 05:53] tischi commented on #108
ok! thanks!

1. do you think I would break anyones update site (e.g., Nico, Preibisch) by shipping a 10.* release into Fiji?
2. (a bit unrelated, I hope) at which point in time do you plan to remove the deprecated functions? I still did not find  the time to adapt my code to not using them...

[2020-09-16 12:32] tpietzsch commented on #108
Yes, you would, unfortunately.

I was thinking of starting to remove some in 10.0.0 already. Good that I didn't... :-)

[2020-09-18 10:55] tischi opened #109 "Current setup name location"
@tpietzsch

Any chance it could become an option in the `Prefs` that the current setup name is left bound rather than centred?
This would avoid in many cases the crash with the time point information:

![image](https://user-images.githubusercontent.com/2157566/93590088-352d2c00-f9ae-11ea-875d-fb165b8d325f.png)

[2020-09-18 11:04] tpietzsch commented on #109
Sure, feel free to add it!

[2020-09-23 14:02] bogovicj commented on #102
How was your hdf5 file created?

There is a similar issue with tips on resolving it here:
https://github.com/PreibischLab/BigStitcher/issues/60

[2020-09-23 17:08] balintbalazs commented on #102
The files are from the Luxendo software. We directly copy the `uint16` camera images to a `uint16` HDF5 dataset using the C API. When opening them with the HDF5 Fiji plugin they are okay.

It seems the bdv reader assumes `int16` datatype without checking the actual datatype of the dataset: https://github.com/bigdataviewer/bigdataviewer-core/blob/97983caee4fc8ae6c664e981e1e51d9668a01993/src/main/ja

[2020-09-29 17:18] Xqua opened #111 "Mamut and Mastodon update sites break BDV: java.lang.NoSuchFieldError: list"
I am not sure if this bug belongs here or on the Mamut / Mastodon repos ...

On a fresh install of FIJI, after all is updated, BDV opens XML/H5 files just fine.
After installing Mamut or Mastodon from the update site (which neither seem to affect anything BDV related?) then Big Data Viewer will fail systematically to open dataset with this error: *java.lang.NoSuchFieldError: list*

Very confusing

[2020-09-30 09:31] tinevez commented on #111
Hello.

I tried with a freshly updated Fiji.
I subscribed to the MaMuT update site, and the error *does not happen*. I remember fixing it recently by the way.

Can you try on your side?
- Update Fiji
- Subscribe to MaMuT
- Let us know
Thank!

[2020-09-30 15:44] Xqua commented on #111
Ok now I am very confused ... I have done this like 6 times on multiple computers recently and it always gave me this bug.

Literally today, I did the exact same procedure (what you described) and it worked just fine.

So first, I apologize for wasting your time, second, I am more than confused about this .... .... .... I know this was happening ...

Well in any case, it all works now !!! :D

Onwa

[2020-09-30 22:12] tpietzsch commented on #111
Hi @Xqua
Did you have perhaps any other update sites enable in the version where you had the problem?
This very issue (`Exception in thread "AWT-EventQueue-0" java.lang.NoSuchFieldError: list`) came up quite often recently and is related to some incompatibilities with recent BigDataViewer versions.
If you still have the failing Fiji, details on enabled update sites would help us track down the iss

[2020-09-30 22:13] tpietzsch commented on #111
@tinevez Can you point me to details on how you fixed it? I had already added to my TODO list to track this down...

[2020-10-01 08:17] tpietzsch commented on #111
@tinevez @Xqua I just tried with:
- a newly downloaded Fiji
- enabling (only) the Mastodon update site

For me the problem still happens.

Could you please both either
- zip your Fiji.apps and email them to me, or
- send me a list of contents of jar/ and plugins/ folders
so that I can find out what's different...

[2020-10-01 09:24] tinevez commented on #111
Look no further. The Mastodon preview update site ships a probably old version of `scijava-listener`.

![Screenshot 2020-10-01 at 11 22 38](https://user-images.githubusercontent.com/3583203/94791966-a4f0dd00-03d8-11eb-8cb9-d941e3baa73c.png)

The MaMuT site does not.

[2020-10-01 09:35] tinevez commented on #111
In MaMuT the fix happens at this commit:
https://github.com/fiji/MaMuT/commit/548289ce58ab8d55ad3ea284c433d3d0570fee1c

Because at the time we did not have `pom-scijava-29.2.1` I had to explicitly set the bdv core version.

[2020-10-01 10:31] tpietzsch commented on #111
@tinevez thanks! I did not read careful enough and missed that the discussion was about MaMuT and not Mastodon :-)
I removed scijava-listeners-1.0.0-beta-2.jar from the Mastodon update site. It should work now for Mastodon too.

[2020-10-01 10:31] #111 closed

[2020-10-02 00:21] Xqua commented on #111
Sorry I was in the Thesis zone !
Ok, yes so actually I did have plenty of update sites on, but mostly I think it must have been the Mastodon plugin.

Though this is good to know that this bug is due to `scijava` I'll keep an eye out.

Do let me know if there is something else I can do to help.

[2020-11-05 13:03] #108 closed

[2020-11-05 13:10] tischi opened #112 "bdv running hot"
@axtimwalde @StephanPreibisch @NicoKiaru

Quite regularly I experience that the bdv uses 3 out of my 4 CPU at maximum capacity even when it seemingly just shows a "simple 2D image". I also heard this from other users.

1. Did you ever experience this?
1. I am bringing this up right now, because today using bdv I for the first time got this GC overhead limit error: https://www.baeldung.com/java-gc-

[2020-11-05 15:11] tpietzsch commented on #112
@tischi When

When it happens again, could you attach VisualvM and look where it spends the time? ("Sampler" tab > "CPU")

GC overhead limit error points to "tons of very small objects that are still strongly referenced and cannot be GCed".

[2020-11-05 15:29] axtimwalde commented on #112
Hi, this may be not helpful but we experienced spurious OOMs recently with the cache heavy n5-utils copy tool.  The solution was to not use an outdated Oracle 8 JDK but a more recent OpenJDK.  I am quoting @trautmane:

who did a few VisualVM experiments that all look 'normal' but eventually fail.

[2020-11-05 15:36] NicoKiaru commented on #112
@tischi tell us the context if possible. In bdv-playground I was filling up the memory a lot and not releasing it. I fixed most of the issue I believe. If you are trying to display a simple 2D source but the jvm has only 2 MB free out of 16 Gb because of unreleased object, it will 'run hot' constantly.

Keep an eye on the memory used, explain the context, and do some visualvm inspection (thanks @t

[2020-11-05 15:55] tischi commented on #112
Thanks! Will do!

[2020-11-05 18:24] axtimwalde commented on #112
@tischi which JDK/ JRE are you using?

[2020-11-05 18:36] tischi commented on #112
@axtimwalde
I was using `jdk 1.8.0_161` and now, following your advise, updated to `jdk 1.8.0_272`.
Let's see if this helps. As I said, I don't know yet how to force the issue reproducibly.

[2020-11-07 16:43] tischi commented on #109
@tpietzsch I created a PR (see above). Let me know what you think.

[2020-11-11 14:59] tischi opened #114 "Request for an additional release"
Hi @tpietzsch,
cc  @joshmoore

Some time ago @axtimwalde merged this PR from me: https://github.com/bigdataviewer/bigdataviewer-core/pull/104
This contains a critical fix for the n5 loading.

The issue is that there is no release version containing this bug fix which is `<10.0.0`.
I think the versions `10.*` are a bit too new and, afaik, cause some issues in terms of dependencies when running insi

[2020-11-16 20:02] tischi commented on #114
Thanks @axtimwalde for releasing `9.1.0`!

[2020-11-16 20:02] #114 closed

[2021-03-30 17:10] bogovicj opened #120 "fast/slow forward z scrolling keybinds swapped"
`Shift ,` scrolls slowly, `Ctrl ,` scrolls quickly.
This is the opposite of what is documented, and the opposite behavior of `Shift .` and `Ctrl .`

I'll file a PR shortly.

[2021-04-30 13:39] StephanPreibisch opened #122 "Small misbehavior in the old brightness dialog"
Hi,

when using BDV-vistools to set the brightness, e.g.:

`
bdv.setDisplayRangeBounds( 0, 500 );
bdv.setDisplayRange(0, 100);
`

the image is displayed correctly, but the sliders are off:

<img width="612" alt="Screen Shot 2021-04-30 at 9 34 54 AM" src="https://user-images.githubusercontent.com/1420587/116703118-e4e06880-a997-11eb-9cd0-4f24d0ba7fea.png">

Not super important, but still ...

Best,

[2021-05-06 12:51] StephanPreibisch commented on #122
Hi @tpietzsch, I think this issue in BigStitcher is related https://github.com/PreibischLab/BigStitcher/issues/95

[2021-05-06 14:34] StephanPreibisch opened #123 "Feature request: Intensity values & auto brightness"
Hi, we should think about adding the very basic features (that are more complex in this context) of displaying a pixels intensity and auto brightness adjustment to BDV. Happy to discuss and contribute!

[2021-05-16 15:01] tischi opened #124 "Change name of TransformedSource during construction"
Hi @tpietzsch @axtimwalde @tinevez,
(cc @NicoKiaru)

It would be very useful for me if I could change the name of a Source when transforming it.

I would thus like to add constructors to `TransformedSource` that accept a `String name`.

And then I would change:

[code]

to

[code]

Would you accept a PR that does that?

[2021-05-16 15:16] tischi opened #125 "WrappedSource"
@tpietzsch @bogovicj @NicoKiaru @tinevez

I am wondering whether it could be worth adding this to bdv-core:

[code]

`TransformedSource` could implement it  and in MoBIE and bdv-playground we are having a couple of other classes that would also implement it (`WarpedSource`, `CroppedSource`, and `ResampledSource`). Maybe this could help going backwards through a potential chain of operations that h

[2021-06-18 14:02] martinschorb opened #126 "zero value always shown as black even for signed int source"
Hi,

I have a source (N5) which is normalized signed int data. BDV displays it just fine and also contrast adjustment works.
However, the zero value is always mapped to appear as black, even though the minimum selector is set to a negative value. This leads to black contour lines in the displayed data.

[2021-06-18 14:03] martinschorb commented on #126
![Screenshot 2021-06-18 at 16 02 46](https://user-images.githubusercontent.com/35071867/122573081-b05f6380-d04e-11eb-9997-b7a55e98a3ab.png)

[2021-06-21 14:53] tpietzsch commented on #126
Can you share a test data set to reproduce?
Also, is this in vanilla BDV or MoBIE Viewer or something similar? (It could be that this is some custom source blending code)

[2021-06-21 18:27] martinschorb commented on #126
Hi,

yes, you are right:
- vanilla BDV: manually adjusting levels to -127/+127 gives good results
- BDV-Playground :
-- original BDV - correct behaviour,
-- BDVPG mixed projector - contour lines
-- BDVPG Sum projector - contour lines
-- BDVPG Average projector - contour lines
- MoBIE - contour lines

I guess @NicoKiaru , this one's for you then...

[2021-06-21 18:28] martinschorb commented on #126
Test data:

[BDV_testzero.zip](https://github.com/bigdataviewer/bigdataviewer-core/files/6688723/BDV_testzero.zip)

supposed to show nice gradients from -20 to +20 intensity.

[2021-06-21 19:53] NicoKiaru commented on #126
Mapping 'zero' as black or actually transparent has been a trick used to handle transparency, but I've added a way to handle better transparency, and also 'layers', but at the cost of speed ( see https://github.com/NicoKiaru/bigdataviewer-playground-display). Also, now the 'default' bdv used in bdv-playground is flexible. It can be the vanilla one, the [mobie one](https://github.com/NicoKiaru/bigd

[2021-06-22 09:21] tischi commented on #126
I think I tried it and it worked for me.

[2021-07-21 07:06] #126 closed

[2021-07-21 07:08] tpietzsch commented on #124
closed via #127

[2021-07-21 07:08] #124 closed

[2021-07-21 07:10] #109 closed

[2021-07-21 07:19] #120 closed

[2021-12-13 15:21] K-Meech opened #128 "8-bit hdf5 are read as 16-bit"
Opening an 8-bit image written to hdf5 with the fiji plugin under Plugins > BigDataViewer > Export Current Image as XML/HDF5 like so:

[code]
gives UnsignedShortType (16-bit) imgLoaders inside, rather than UnsignedByteType (8-bit). This is not the case for converting and loading n5 via 'Export Current Image as XML/N5'.

Would it be possible to change this part: https://github.com/bigdataviewer/big

[2021-12-16 12:58] NicoKiaru opened #187 "Brightness adjustment crashes when trying to invert contrast"
Would it be possible to support inverted LUT by simply inverting the min max position of sliders ?

I don't really understand why it's not automatically working with the current converters. Is it due to some subtle performance optimisation ?

Original issue:

https://github.com/bigdataviewer/bigdataviewer-playground/issues/223

[2022-03-29 16:44] bogovicj opened #186 "add descriptive toString for Source at level"
I have some code [here](https://github.com/saalfeldlab/n5-ij/blob/eb9f2aa38e676c36ac79fc26ac8bec4905c1a7fb/src/main/java/org/janelia/saalfeldlab/n5/ui/N5DatasetTreeCellRenderer.java#L54-L76) that makes a brief, but useful String description of a Source. It's used in the dialog for selecting n5 datasets (see below).

Maybe I could migrate that here so it's more central.  @tpietzsch  okay with you?

[2022-04-12 16:02] mkitti commented on #93
I wonder if this is still the case after https://github.com/bigdataviewer/bigdataviewer-core/pull/131 since I added some calls to `H5Fclose` there. Whether they are being invoked may be another matter.

[2022-04-12 17:30] mkitti commented on #93
Perhaps to help narrow this down, are you able to open the same HDF5 file with multiple FIJI clients? On Windows? On Mac? Over a network file system?

[2022-04-12 20:46] NicoKiaru commented on #93
Thanks for looking into this! I'll try to do a few tests tomorrow

[2022-05-06 15:04] mzouink opened #135 "No suitable HDF5 native library for Mac M1 chip"
Bigdataviewer is not working in my Mac M1 chip, jhdf5 can't find the native library for my chip.

<img width="972" alt="Screen Shot 2022-05-06 at 11 08 58 AM" src="https://user-images.githubusercontent.com/5658590/167160982-6ac2570b-6c44-485e-b827-45e115de0ccc.png">

[2022-05-06 15:45] tpietzsch commented on #135
Yes, that's the problem.
The latest HDF5 version https://portal.hdfgroup.org/display/support/HDF5%201.12.2#releasenotes has support for M1.
It's very recent. I would wait a bit whether there will be a new jhdf5 release that uses it, before digging into how to package it ourselves.

[2022-05-06 15:53] mkitti commented on #135
We will have to build JHDF5 ourselves, and then figure out how to distribute it. I havr the build instructions from Bern Rinn. I'm working on the problem from the plugin perspective.

https://sissource.ethz.ch/sispub/jhdf5/-/tree/master/libs/native/jhdf5
https://unlimited.ethz.ch/display/JHDF/JHDF5+FAQ#JHDF5FAQ-Whataretheoptionstoprovidethenativelibraries?

I have M1 hardware on order, but maybe I

[2022-05-08 21:32] axtimwalde opened #185 "Better convenience methods for UI elements"
We need better convenience methods for typical UI elements, in particular sliders, buttons, switches, input fields, making best use of functional interfaces.  I am dreaming of simple things like:
[code]
Not sure what the best way is to provide context to `onChange`, but since this can be a closure, it basically has access to everything.

[2022-05-08 21:42] axtimwalde opened #184 "Improve handling of slider dimensions"
Currently, BDV is tailored to 2D or 3D + t and color channels as sources.  Often though, we want to simply add sliders or wheels for some dimensions beyond 2D or 3D.  The best implementation that is consistent with the current API is most likely a dedicated `Source` where a subset of the dimensions can be exposed (may be as `[Real]Localizable|Positionable`) and the source would return the respecti

[2022-05-09 17:59] mkitti commented on #135
@mzouink and I worked on this, and we now have a build for Mac OS X M1 (aarch64) at
https://github.com/JaneliaSciComp/jhdf5/releases/tag/jhdf5-19.04.0_aarch64

@ctrueden I'm not sure if there is a clean way to update Maven with this JAR. Perhaps I should combine this with my efforts to deliver alternative native binaries?

[2022-05-09 22:14] ctrueden commented on #135
We could either:

1. Deploy a new fat jhdf5-19.04.0.1 all architectures in one; or
2. Split up the architectures to make one classifier per arch, and then add the aarch64 one to that; or
3. Just deploy the aarch64 arch as a separate add-on JAR to the main jhdf5-19.04.0.

I don't have a strong opinion. I think (2) is most correct, but would be more work, whereas (3) would be simplest but require an

[2022-05-10 02:49] mkitti commented on #135
Perhaps we should move the discussion over to https://github.com/JaneliaSciComp/jhdf5/issues/3 since there is not much to do here from the perspective of bigdataviewer-core.

[2022-05-16 13:29] tischi opened #138 "Make ScaleBar configurable for each BDV"
Right now there only is one global setting for whether all BDV show a ScaleBar.
It would be very good if that could be configured per BDV instance.

[2022-05-25 08:11] odinsbane opened #139 "What is the origin when exporting an image using the multiview fusion plugin."
This is related to, the same issue as this https://github.com/fiji/SPIM_Registration/issues/138

I have a dataset that has been prepared for me and I want to make a fusion. When I make the fusion with the following bounding box.

Bounding Boxes:
Tile_7 (dim=265x260x373px, offset=156x258x159px)

If I don't use any binning. Then the resulting image has

voxel 0.175um x 0.175um x 0.175um
dimension(px

[2022-05-25 09:25] odinsbane commented on #139
The other issue is more appropriate.

[2022-05-25 09:25] #139 closed

[2022-06-08 07:05] tischi opened #140 "Source transform for missing timepoints?"
Even though my `Source` returns `false` for `isPresent( 0 )`, the below code still tries to get the source transform at time point `0`. And in my case crashed because my `Source` only has source transforms for existing time points.

[code]

Question: Should a `Source` provide a source transform also for missing time points or is that maybe a bug in BDV?

[2022-06-08 11:47] tpietzsch commented on #140
That is a bug,..

[2022-06-08 20:08] tpietzsch commented on #140
Hmm, actually...

I don't see how this could be a problem.
The method in `Source` is
[code]
So you already get the pre-allocated transform.
So if you just do nothing if `isPresent(t)==false` all should be fine.

I'll probably change `ScaleBarOverlayRenderer` to handle `isPresent()==false` as a separate case.
But I think it also wouldn't hurt if `Source` implementations were robust to non-existing

[2022-06-08 20:32] tischi commented on #140
So if you just do nothing if isPresent(t)==false all should be fine.

Yeah, good point, we could do this...
Whether "all should be fine" though depends on the consumer of this function :-)
For example, depending on the implementation the scale bar may be all over the place at non-existing time points.

[2022-06-08 20:39] tischi commented on #140
What I mean is: if something calls this function and interprets the `transform` as the actual `sourceTransform` at that time point then it would lead to a wrong result.

But I get your point: we could say it is the responsibility of the calling code to check whether this time point is present, before calling that function.

[2022-06-09 09:14] will-moore commented on #64
Came across this issue from https://github.com/mobie/mobie-viewer-fiji/issues/351#issuecomment-1150860401
I had to be told about the `P` button as it's not mentioned in the help.
 Thanks!

[2022-06-23 09:56] tischi commented on #140
@tpietzsch I tried your suggestion of just returning the pre-allocated transform for missing time-points, but it looks like as if the current implementation in BDV does not handle this correctly. I get weird behavior: When hovering with the mouse across BDV the scale bar is changing.

[2022-07-04 07:40] lguerard commented on #93
Hi both,

I can confirm that this is still happening. The only way I found so far to clear up the H5 handle is to completely close Fiji which is very annoying...

[2022-07-04 18:37] mkitti commented on #93
Is the primary issue due to file locking?

One way to address this would be to prevent HDF5 from locking the file in the first place.

This is an API call that accomplishes this:
https://portal.hdfgroup.org/display/HDF5/H5P_SET_FILE_LOCKING

For users, there is the `HDF5_USE_FILE_LOCKING` environment variable:
https://portal.hdfgroup.org/display/HDF5/Environment+Variables+Used+by+HDF5
https://port

[2022-07-04 18:43] mkitti commented on #93
It is not clear to me if `HDF5_USE_FILE_LOCKING` will have an effect when using the library currently packaged in the JHDF5 jar file since that uses HDF5 version `1.10.5` rather than the needed `1.10.7`. It may be necessary to try pointing JHDF5 to another shared library by providing the `-Dnative.libpath.jhdf5=/path/to/jhdf5.so`. We may be able to point directly to the `libhdf5_java.so` provided

[2022-07-07 08:49] tpietzsch opened #141 "Remove superfluous numThreads, executorService arguments from AccumulateProjectorFactory"
Came up here: https://github.com/BIOP/bigdataviewer-playground-display/issues/4

One open question is what should be passed as `numThreads` argument to the deprecated constructor?

[2022-07-12 07:41] lguerard commented on #93
Hi @mkitti,

This is happening on Windows 10 using an up to date Fiji, hope that helps !

[2022-07-13 23:21] mkitti commented on #128
Have you tried loading HDF5 files via N5-viewer rather than directly as HDF5. This would use https://github.com/saalfeldlab/n5-hdf5

[2022-09-17 13:48] NicoKiaru opened #143 "Multiple thread deadlocks with `addCard` method"
Hi!

I have many thread deadlocks happening with the recent update to pom-scijava 32/33. Bdv is nearly unusable if you want to add extra cards.

Here's a typical trace obtained with visualvm:

[code]

There's another one in the forum post: https://forum.image.sc/t/multiplexed-image-registration-and-combine-using-warpy-and-imagecombiner/71404/27

edit: @tpietzsch, I just saw your message  in the fo

[2022-09-17 14:09] NicoKiaru commented on #143
Pfff... There's a lot of issues with FlatLaf, I think some are not bdv related:

[code]

[2022-09-17 14:31] tpietzsch commented on #143
I'm not 100% sure, but I think it is cleaner to use `invokeLater` outside, not inside the `CardPanel`. I think here it's pretty clear that this is more or less "pure UI code", on the same level as calling a method in `JTree` or something.

It's difficult where to draw the line. For example, the `BigDataViewer` class, I don't see as pure UI, so probably I would put `SwingUtilities.invokeLater()` in

[2022-09-17 14:36] NicoKiaru commented on #143
👍  Ok. I'm going to make a static helper class with addCard and removeCard methods that will call the same method within SwingUtilities.invoke. However, I have plenty of weird NPE on windows with Flatlaf, right when the application starts (at `ij.ui().showUI()`). I may disable it. It could be windows only.

[2022-09-17 14:50] tpietzsch commented on #143
Wow. Yes, I was going to ask which OS this is ...

I was quickly going into the source code for where the exceptions happen and it didn't really make sense to me.
For example for the last one
[code]
This is this line in `BoxLayout`
[code]
and I don't see how `xTotal` or `yTotal` could possibly be `null` here.
Very weird.

[2022-09-17 15:01] NicoKiaru commented on #143
There's a bunch of jdk bugs mentioned with flatlaf (https://bugs.openjdk.org/browse/JDK-8079800). But they are solved normally.

It seems that I can avoid issues right now if I start Fiji with:
`SwingUtilities.invokeAndWait(() -> ij.ui().showUI())` instead of `ij.ui().showUI()` directly in the main method. This makes sense somehow, but it wasn't necessary before. (ping @ctrueden)

[2022-09-17 15:07] tpietzsch commented on #143
Aha!!

My personal preference for `ij.ui().showUI()` would be to put the `SwingUtilities.invokeAndWait` inside ... but, yeah, personal preference ... 🤷‍♂️

[2022-09-17 16:48] ctrueden commented on #143
I agree that putting AWT manipulation code inside of `invokeLater` or `invokeAndWait` (depending on the situation) makes sense. It cannot go directly into the `DefaultUIService`'s `showUI()` method though, because that is UI agnostic, and cannot depend on AWT/Swing stuff, and some UIs might not even be using the same event dispatch thread style. But in the abstract Swing UI layer (somewhere in sci

[2022-09-30 04:35] kgabor commented on #123
I also miss the values displayed when pointing to (x,y,z) pixels... Also a colorbar scale(s) would be nice.

[2022-09-30 05:34] kgabor opened #144 "Display of very large 3D images shows striped artefacts at some zoom-in view levels"
Opening an n5 dataset of one (or multiple) very large 3D tile(s) in BDV (open xml/hdf5) or BigStitcher, the displayed image shows striped artefacts and/or disintegrate (rectangular pieces misplaced), usually on the right side of the display in the default XY plane (Z-axis) view.

The artefacts seem to be consistent, i.e. in a given angle and zoom view it's consistently the same. The artefacts disa

[2022-09-30 14:58] tpietzsch commented on #144
Where does that number come from? bigdataviewer-core version 6.2.2 doesn't exist. Do you mean 6.0.2.
I couldn't reproduce it running the current bdv master from an IDE? Could you try that? (Just run this main method https://github.com/bigdataviewer/bigdataviewer-core/blob/e29a9253ce0de30d9bcb76d6a623c0f8d5265a45/src/main/java/bdv/BigDataViewer.java#L776-L778 and set the `fn` to your dataset.)

Try

[2022-09-30 21:45] kgabor commented on #144
[code]

I also encountered the OutOfMemory but not in case of the real data. Indeed exploding decompression with multithreading seems to easily hit the OutOfMemory exception, but this is less of a problem with real data than the dummy where compression is unusually high. I was able to get an initial view of the dummy with about 130GB mem that showed the artifacts without loading exceptions. I will

[2022-10-01 00:30] kgabor commented on #144
The dummy dataset seems to behave a bit differently, it is always broken regardless of zooming. Maybe connected to the (lack of) lower resolutions (in the dummy). Also, I made a screenshot rotated into the YZ plane at a high X value. It hit the OutOfMem exception but seems to have completed/retried the load. (Loading the dummy is worse than loading real data, it is painfully slow and CPU intensive

[2022-10-01 01:42] mkitti commented on #144
Ah you mean bigdataviewer-fiji:
https://github.com/bigdataviewer/bigdataviewer_fiji

[2022-10-11 00:56] kgabor commented on #144
I encountered two scenarios when the problem reproduces and another one that seems ok. It may be simply a  bigdataviewer-core old version problem or a bad combination of module versions.

Produces patterns:

A maven environment copy-pasted from intelliJ, see attached classpath file.

`java -Dfile.encoding=UTF-8 -classpath $(cat bigstitcher_dev_classpath.txt) net.preibisch.stitcher.plugin.BigStitch

[2022-10-14 14:42] karlduderstadt opened #145 "2D support in TransformedBoxSelectionDialog"
The TransformedBoxSelectionDialog doesn't support 2D.

If TransformedBoxSelectionDialog is provided with 2D intervals an ArrayIndexOutOfBoundsException is thrown.
![image](https://user-images.githubusercontent.com/17951396/195873473-e27c5d7c-265e-440d-892a-1eb4f7087255.jpeg)

This can be reproduced in Fiji using the following groovy script:
[code]

However, it is possible to use the TransformedBox

[2022-11-10 17:07] cmhulbert opened #146 "NPE On Repeated Delete of Source from Group"
When deleting a source from a group in the card panel, using the `Delete` key, the source is properly removed. However if you press `Delete` a second time without interacting with any other UI elements, it attempts to delete again, but no group is present:

<details>
<summary>NPE On Repeated Delete of Source from Group</summary>

[code]

</details>

[2022-11-16 10:12] tpietzsch opened #147 "Deadlock related to SynchronizedViewerState"
@tischi reported a dead-lock issue [on gitter](https://gitter.im/bigdataviewer/bigdataviewer-core?at=6348101034982518bdf856fc).

The dead-lock happens when accessing `SynchronizedViewerState.sourceOrder()` method from a `synchronized` block in `MultiResolutionRenderer`. At the same time, `SynchronizedViewerState.setViewerTransform()` tries to `MultiResolutionRenderer.requestRepaint` (which is `syn

[2022-11-16 10:19] tpietzsch commented on #147
To solve this, the best approach is probably to try and make `MultiResolutionRenderer.requestRepaint` *not* `synchronized`.